* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

:root,
html,
body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

html {
    background: linear-gradient(180deg, #0f1130 0%, #553f90 180%);
}

/* semi-bold */
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/Urbanist-SemiBold.woff2') format('woff2');
}

.bar {
    position: fixed;
    bottom: 0.5rem;
    left: 0.5rem;
    color: #ffffff50;
    font-family: "Urbanist", sans-serif;
    font-size: 1.2em;
    padding: 0 0.7em;
    z-index: 100;
    border-radius: 0.9375rem;
    height: 3.5rem;
    /* according to a super cool stackoverflower i now lost, this is the best way to force hardware acceleration. i found a pretty good performance boost with this with my backdrop-filter blur */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    background: #03081dc0;
    backdrop-filter: blur(35px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bar.tools {
    bottom: calc(0.5rem + 3.5rem + 0.3rem);
}

.tools .tool {
    width: 2.8rem;
    height: 2.8rem;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bar svg {
    width: 100%;
    height: 100%;
    fill: #e0ddff40;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.1s ease-in-out;
}

.bar img {
    width: 100%;
    height: 100%;
}

.bar *:hover>svg {
    fill: #ddddddb0;
    filter: drop-shadow(0px 0px 20px #ffffffa0);
}

.bar *:active>svg {
    fill: #ffffff;
    filter: drop-shadow(0px 0px 15px #ffffffa0);
}

.bar *.active>svg {
    fill: #ffffff;
    filter: drop-shadow(0px 0px 10px #ffffffa0);
}

.tools .tool .line {
    background: #ffffff;
    /* round top, not bottom */
    border-radius: 0.2rem 0.2rem 0 0;
    height: 0.3rem;
    width: 0.4rem;
    opacity: 0;
    position: absolute;
    bottom: 0;
    flex-grow: 0;
    flex-shrink: 0;
    transition: all 0.1s ease-in-out;
}

.tools .tool:hover .line {
    width: 0.9rem;
    opacity: 0.8;
}

.tools .tool:active .line {
    width: 1.2rem;
    opacity: 1;
}

.tools .tool.active .line {
    width: 1.2rem;
    opacity: 1;
    filter: drop-shadow(0px 0px 10px #ffffffa0);
}

.tools .tool {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.tools .tool svg {
    height: 1.8rem;
    width: 1.8rem;
}